<div class="hero-section" id="home">
  <header class="main-header">
  <div class="hero-left">
    <img src="logo.png" alt="Velan Design Studio" class="logo" />
  </div>

  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
    <i class="fas" [class.fa-bars]="!isMenuOpen" [class.fa-times]="isMenuOpen"></i>
  </button>

  <nav class="top-nav" [class.active]="isMenuOpen">
    <ul>
      <li><a (click)="scrollToMenu('home')">Home</a></li>
      <li><a (click)="scrollToMenu('about')">About</a></li>
      <li><a (click)="scrollToMenu('services')">Our Service</a></li>
      <li><a (click)="scrollToMenu('gallery')">Gallery</a></li>
      <li><a (click)="scrollToMenu('projects')">Project</a></li>
      <li><a (click)="scrollToMenu('contact')">Contact Us</a></li>
    </ul>
    @if(isMenuOpen){
    <div class="mobile-footer">
       <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
       </div>
    </div>
    }
  </nav>
</header>

  <!-- Hero Content -->
  <div class="hero-content">
    <h1>Velan Architects And Construction</h1>
    <p>
      At Velan Design Studio, we bring your visions to life through a combination
      of technical expertise and creative solutions. We provide end-to-end
      excellence, from concept to completion.
    </p>
    <div>
    <button matButton="elevated" (click)="getConsulation()">Get a free consultation</button>
  </div>
  </div>
  
</div>

<!-- Values Section -->
<div class="values-section" id="values">
  <div class="value-card vision">
    <div class="icon"><i class="fas fa-eye"></i></div>
    <h2>Our Vision</h2>
    <p>To shape timeless spaces that honor culture, reflect heritage, and elevate
      modern living — making refined, value-driven architecture accessible without
      compromising elegance or integrity.</p>
  </div>

  <div class="value-card mission">
    <div class="icon"><i class="fas fa-mountain"></i></div>
    <h2>Our Mission</h2>
    <p>To thoughtfully design and meticulously execute every project with precision,
      transparency, and cultural sensitivity — blending tradition with innovation
      to create spaces that inspire pride, comfort, and lasting value.</p>
  </div>

  <div class="value-card goal">
    <div class="icon"><i class="fas fa-bullseye"></i></div>
    <h2>Our Goal</h2>
    <p>To build a legacy of trust and excellence by delivering architecturally
      distinguished spaces that enrich lives and stand strong for generations.</p>
  </div>
</div>

<!-- About Section -->
<div class="about-container" id="about">
  <div class="content-left">
    <span class="sub-title">MEET THE TEAM</span>
    <h1 class="main-title">About Us</h1>

    <div class="description">
      <p>
        {{ showFullText ? aboutText : (aboutText | slice:0:250) + '...' }}
      </p>

      @if(aboutText.length > 250){
      <button class="read-more" (click)="toggleText()">
        {{ showFullText ? 'Show Less' : 'Learn More' }}
        <span class="arrow">→</span>
      </button>
      }
    </div>
  </div>

  <div class="image-right">
    <div class="curve-overlay"></div>
    <img src="about.png" alt="Modern Architecture Staircase">
  </div>
</div>


<!-- Services Section -->
<div class="services-container" id="services">
  <div class="services-image">
    <img src="service.png" alt="Velan Services" />
  </div>

  <div class="services-text">
    <h3 class="subtitle">Expertise in Architecture, Interior Design, and Construction</h3>
    <h2 class="title">OUR SERVICES</h2>
    <p class="main-desc">
      At Velan Architecture and Construction, we offer a wide range of services
      that cover all aspects of the construction process. With our comprehensive
      approach, we can handle every stage of your project from start to finish.
    </p>

    <div class="services-grid">
      <div class="grid-item">
        <h4>ARCHITECTURAL PLANNING</h4>
        <p>Our team of architects combines creativity, technical precision, and a deep understanding of the industry to
          create plans that meet your specific needs and vision.</p>
      </div>
      <div class="grid-item">
        <h4>INTERIOR DESIGN</h4>
        <p>We believe that good design is an essential part of creating functional and beautiful spaces.</p>
      </div>
      <div class="grid-item">
        <h4>CONSTRUCTION EXPERTISE</h4>
        <p>With years of experience and a skilled team of contractors, we are well-equipped to handle all types of
          construction projects.</p>
      </div>
      <div class="grid-item">
        <h4>BUILT TO LAST</h4>
        <p>At Velan Architecture and Construction, we believe that good design begins with strong foundations.</p>
      </div>
    </div>
  </div>


</div>
<!-- Types of Services Section Gallery -->
<div class="types-section" id="gallery">
  <div class="header-text-center">
    <h1>TYPES OF SERVICES</h1>
    <p>Take a look at the services we offer to help bring your vision to life.</p>
  </div>

  <div class="types-services-grid">
    <div class="service-type-card">
      <img src="service1.png" class="img-hero" alt="Architectural Tools">
      <div class="inset-label">Architectural services and Consultation</div>
      <img src="service2.png" class="img-secondary" alt="3D Plan">
      <div class="card-body">
        <h3>Architectural Planning</h3>
        <p>Our team of experts will create detailed architectural plans for your project to ensure a strong foundation.
        </p>
        <a (click)="scrollTo('contact')" class="cta-link">Learn More <span>→</span></a>
      </div>
    </div>

    <div class="service-type-card">
      <img src="service3.png" class="img-hero" alt="Kitchen Design">
      <div class="inset-label">Interior Design and Execution</div>
      <img src="service4.png" class="img-secondary" alt="Pooja Room Design">
      <div class="card-body">
        <h3>Interior Design</h3>
        <p>We specialize in creating functional and beautiful interiors for your spaces, whether it's a residential or
          commercial project.</p>
        <a (click)="scrollTo('contact')" class="cta-link">Explore Options <span>→</span></a>
      </div>
    </div>

    <div class="service-type-card">
      <img src="service5.png" class="img-hero" alt="Skyscrapers">
      <div class="inset-label">Construction and Renovation</div>
      <img src="service6.png" class="img-secondary" alt="House Before After">
      <div class="card-body">
        <h3>Construction Expertise</h3>
        <p>Our team uses our technical precision and respect for your vision to create durable and functional spaces
          that will stand the test of time.</p>
        <a (click)="scrollTo('contact')" class="cta-link">Get Started <span>→</span></a>
      </div>
    </div>
  </div>
</div>



<div id="projects" class="projects-section">
  <div class="stats-container">
    <div class="header-text-center">
      <h2>Our Successful Projects</h2>
      <p>We pride ourselves on completing over 100 projects in the past 10 years, satisfying our clients with our work.
      </p>
      <!-- <button class="see-more-btn" (click)="scrollTo('gallery')">SEE MORE</button> -->
    </div>

    <div class="stats-grid">
      <div class="stat-card">
        <span class="stat-label">YEARS IN BUSINESS</span>
        <h3 class="stat-number">10</h3>
      </div>
      <div class="stat-card">
        <span class="stat-label">COMPLETED PROJECTS</span>
        <h3 class="stat-number">100+</h3>
      </div>
      <div class="stat-card">
        <span class="stat-label">SATISFIED CLIENTS</span>
        <h3 class="stat-number">100%</h3>
      </div>
      <div class="stat-card">
        <span class="stat-label">LOCATIONS</span>
        <h3 class="stat-number">3</h3>
      </div>
    </div>
  </div>

  <div class="beliefs-container">
    <div class="beliefs-content">
      <span class="accent-title">BRINGING VISION TO LIFE</span>
      <h2 class="section-title">Our Core Belief</h2>
      <p class="belief-desc">At Velandesignstudio.com, we believe that good design begins with strong foundations. Our
        team is dedicated to creating spaces that not only look beautiful, but also function effectively for our
        clients.</p>

      <div class="beliefs-grid">
        <div class="belief-item dash-border">
          <h4>EXPERT CONSTRUCTION</h4>
          <p>Years of experience in the construction industry allow us to bring top-notch skills and knowledge to every
            project we undertake.</p>
        </div>
        <div class="belief-item dash-border">
          <h4>COLLABORATIVE APPROACH</h4>
          <p>We believe that the best results come from working closely with our clients.</p>
        </div>
        <div class="belief-item dash-border">
          <h4>DURABLE DESIGNS</h4>
          <p>We understand the importance of longevity in design.</p>
        </div>
        <div class="belief-item dash-border">
          <h4>ATTENTION TO DETAIL</h4>
          <p>From the initial planning stages to the final execution, we pay close attention to every detail to ensure
            that your project is executed to perfection.</p>
        </div>
      </div>
    </div>
    <div class="beliefs-image">
      <img src="construction.png" alt="Construction detail">
    </div>
  </div>

  <div class="testimonials-container">
    <div class="header-text-center">
      <h2>Client Testimonials</h2>
      <p>Hear from our clients about their experience working with us and the spaces we have created for them.</p>
    </div>
  <div class="testimonials-slider-wrapper">
  <button class="slider-arrow left" (click)="prevSlide()" [disabled]="currentIndex === 0">
    <i class="fas fa-chevron-left"></i>
  </button>

  <div class="slider-viewport">
    <div class="testimonials-grid" [style.transform]="transformStyle">
      @for (feedBack of feedbackList; track feedBack){
      <div class="testimonial-card">
        <img src="logo1.png" alt="Velan Logo" class="card-corner-logo">
        <div class="client-info">
          <img src="avatar.png" alt="John Smith">
          <div>
            <h4>{{feedBack.name}}</h4>
            <span>{{feedBack.topic}}</span>
          </div>
        </div>
        <div class="feedback-wrapper" [class.expanded]="feedBack.showFull">
          <p>
            "{{feedBack.feedback}}"
          </p>
          @if (!feedBack.showFull && feedBack.feedback.length > 300) {
          <div class="fade-overlay"></div>
          }
        </div>
    
        @if (feedBack.feedback.length > 300) {
        <button class="see-more-link" (click)="toggleFeedback(feedBack)">
          {{ feedBack.showFull ? 'Show Less' : 'Read Full Story' }}
          <i class="fas" [class.fa-chevron-up]="feedBack.showFull" [class.fa-chevron-down]="!feedBack.showFull"></i>
        </button>
        }
        <div class="meta-info">
          <span class="architect-tag"><strong>Architect:</strong> {{feedBack.architect}}</span>
          <span class="coord-tag"><strong>Co-ordination:</strong> {{feedBack.co_ordination}}</span>
        </div>
      </div>
      }
    </div>
  </div>

  <button class="slider-arrow right" (click)="nextSlide()" 
          [disabled]="currentIndex >= (feedbackList.length - itemsToShow)">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
    
  </div>
  </div>

<!-- Contact Section -->
<div class="contact-section" id="contact">
  <div class="contact-upper">
    <div class="contact-info-main">
      <h1>CONTACT US</h1>
      <p class="contact-subtitle">We are here to meet any business need and to promote your company online!</p>

      <div class="info-list">
        <p><strong>Phone: </strong> <a href="tel:+917358333458">+91 7358333458</a></p>
        <p><strong>Mail: </strong> <a href="mailto:ar.kirthi1395@gmail.com">ar.kirthi1395@gmail.com</a></p>
      </div>

      <div class="social-icons">
        <a href="https://www.facebook.com/olivia.gam.73"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com/velan_interiors"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/velan-interiors"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="contact-image-wrapper">
      <div class="circle-container">
        <img src="contact.jpg" alt="Office Desk">
      </div>
    </div>
  </div>

  <div class="contact-bottom-grid">
    <div class="info-card">
      <div class="card-icon"><i class="fas fa-phone-alt"></i></div>
      <h4>CALL US</h4>
      <p>+91 7358333458</p>
    </div>

    <div class="info-card">
      <div class="detail-icon"><i class="fas fa-envelope"></i></div>

      <h4>EMAIL</h4>

      <p><a href="mailto:velanarchitects@gmail.com" style="text-decoration: none; color: inherit;">
          velanarchitects@gmail.com
        </a></p>

      <p><a href="mailto:ar.kirthi1395@gmail.com" style="text-decoration: none; color: inherit;">
          ar.kirthi1395@gmail.com
        </a></p>
    </div>

    <div class="info-card">
      <div class="card-icon"><i class="fas fa-clock"></i></div>
      <h4>HOURS</h4>
      <p>Mon - Fri: 11 am - 8 pm</p>
      <p>Sat, Sun: 8 am - 9 pm</p>
    </div>
  </div>
</div>
<a href="https://api.whatsapp.com/send?phone=+7358333458" class="float" target="_blank">
  <i class="fa-brands fa-whatsapp my-float" aria-hidden="true"></i>
</a>
<router-outlet />